{% extends 'main_app/base.html' %}
{% load static %}
{% block content%}

    <div class="main">
        <div class="main-photo" style="background-image: url('{% static 'img/index/photo_3.jpg'%}')">
            <div class="main-photo-text">
                <h2>SkyScrubber</h2>
                <p>Разработана самой тупер мупер командой</p>
            </div>
            
        </div>
    
        <div class="main-box-pain">
            <div class="main-box-pain-m">
                <div class="main-box-pain-text">
                    <h2 "main-box-pain-text-h2">Боль</h2>
                    <p>Наличие автомобилей мешает
                    фотограмметрической
                    обработке, что негативно
                    сказывается на их точности.
                    </p>
                </div>
                <img src="{% static 'img/index/photo_1.jpg'%}">
                <img src="{% static 'img/index/photo_2_activ.png'%}" class="image image-right image-no-activ">
                </div>
            </div>
            
        <div class="main-box-pain">
            <div class="main-box-pain-m">
                <img src="{% static 'img/index/photo_2.jpg'%}">
                <img src="{% static 'img/index/photo_2_activ.png'%}" class="image image-left image-no-activ">
                <div class="main-box-pain-text  ">
                    <div class="main-box-pain-text-h2">
                        <h2>Решение</h2>
                    </div>
                    <div>
                        <p>Разработка нейронной сети и
                        микросервисной платформы для
                        ретуширования объектов на
                        аэрофотоснимках
                        “SkyScrubber”
                        для АО “Урало-Сибирская ГеоИнформационная Компания”
                        </p>
                   </div>
                </div>
            </div>
            
            
                
        </div>
        </div>
    </div>


{% endblock content%}

